<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bmyazilim.soruyorum">

    <uses-permission android:name="android.permission.INTERNET"/>

   <application
    android:name="com.bmyazilim.soruyorum.AppController"
       android:allowBackup="true"
       android:icon="@mipmap/ic_launcher"
       android:label="@string/app_name"
       android:supportsRtl="true"
       android:theme="@style/Theme.AppCompat.NoActionBar" >
    <!-- all activities and other stuff -->
       <activity android:name=".LoginActivity">
           <intent-filter>
               <action android:name="android.intent.action.MAIN" />

               <category android:name="android.intent.category.LAUNCHER" />
           </intent-filter>
       </activity>
       <meta-data
           android:name="io.fabric.ApiKey"
           android:value="1364bce44da332025d766cad43ce8526b8a9e29e" />
</application>

</manifest>